.body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    margin: 0;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background: black;
    padding: 20px 50px;
    margin: 0;
}

.name{
    height: 24px;
    vertical-align: middle;
}
.site__name{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.toggle-button{
    display: none;
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus{
    outline: none;
}

.toggle-button__bar{
    width: 100%;
    height: 0.15rem;
    background: white;
    display: block;
    margin: 0.4rem 0;
}



.mobile-nav{
    display: none;
    position: fixed;
    background: black;
    z-index: 101;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

.header__nav__items{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.mobile-nav__items{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header__nav__item{
    padding-left: 40px;
}
.mobile-nav__item{
    text-align: center;
    padding: 10px 70px;
    border-bottom: white 1px solid;
}

.header__nav__item a,
.mobile-nav__item a{
    font-size: 13px;
    color: white;
    text-decoration: none;
    padding-bottom: 7px;
}
.mobile-nav__item:hover,
.mobile-nav__item:active{
    cursor: pointer;
    color: black;
    background: white;
    text-align: center;
    padding: 10px 70px;
    border-bottom: white 1px solid;

}
.mobile-nav__item a:hover,
.mobile-nav__item a:active{
    color: black;
}


.header__nav__item a:hover,
.header__nav__item a:active{
    border-bottom: white 1px solid;
}
.SignIn__btn a{
    border: 2px white solid;
    padding: 8px 16px;
    border-radius: 5px;
}
.SignIn__btn a:hover,
.SignIn__btn a:active{
    color: black;
    background: white;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    background: black;
    padding: 10px 0;
    width: 100%;
}

.footer img{
    height: 25px;
    padding: 10px 30px;
}

.footer img:hover{
    cursor: pointer;
}
.backdrop{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

@media (max-width: 992px){
    .name{
        padding-top: 7px;
        padding-left: 5px;
    }
    .toggle-button{
        display: block;
    }
    .header__nav{
        display: none;
    }
}